.container{
    display: flex;
    flex-wrap: wrap;
}
div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    
}
span{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}