.coluna1 {
    margin:10px;
    display: grid;
    height: 80vw;
    width: 80vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.caixa {
    background-color: pink;
    display:flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}
